In [1]:
list1 = [4,6,9,3,5]
list2=[]
for element in list1:
    if element%2==0:
        index_element = list1.index(element)
        list2.append(element)
        list1[index_element]=element**2
    else:
        index_element=list1.index(element)
        list1[index_element]=element*2

In [2]:
list2

[4, 6]

In [3]:
list1.index(16)

0

In [7]:
l= list(range(10,15+1))
l

[10, 11, 12, 13, 14, 15]

In [8]:
for i in l:
    print(i)

10
11
12
13
14
15

In [11]:
list1=[5,8,9,4,5,7]
l=len(list1)
for index in range(0,l):
    print(list1[index])

5
8
9
4
5
7

In [12]:
list1 = [4,6,9,3,5]
index_element = list1.index(element)
for element in list1:
    if element%2==0:
        list2.append(element)
        list1[index_element]=element**2
    else:
        list1[index_element]=element*2
list1

[4, 6, 9, 3, 36]

In [14]:
list1 = [4,6,9,3,5]

for index in range(0,len(list1)):
    element=list1[index]
    if index%2==0:
        list1[index]=element**2
    else:
        list1[index]=element*2
list1

[16, 12, 81, 6, 25]

In [16]:
#check where a number is palindrom
#string reverse
#madam

In [36]:
string = "madamaslsa"
type(string)

str

In [37]:
string[4]

'm'

In [38]:
string[::-1]

'aslsamadam'

In [41]:
input ='madam'
type(input)

str

In [42]:
if input ==input[::-1]:
    print('palindrom')
else:
    print('not palindrom')

palindrom

In [48]:
#prime number ?

n=29
assume = 'prime'

for element in range(2,n):
    if n%element==0:
        assume ='not prime '
print(assume)

prime

In [50]:
#break condition

n=27
assume = 'prime'

for element in range(2,n):
    if n%element==0:
        print(element)
        assume ='not prime '
print(assume)

3
9
not prime

In [53]:
square=2**2

def square(n):
    return n**2

square(5)

25

In [54]:
def square():
    n=5
    print(n**2)
    
square()

25

In [56]:
def addition(a,b):
    print(a+b)
    
addition(45,43)

88

In [65]:
 def check_prime(n):
        assume = 'prime'
        for element in range(2,n):
            if n%element==0:
                assume ='not prime '           
print(assume)

not prime

In [61]:
list1=[5,7,8]
for i in list1:
    print(i)

5
7
8

In [62]:
i=0
while(i<len(list1)):
    print(list1[i])
    i=i+1

5
7
8

In [68]:
check_prime(25)